
<div class="card mt-3 mb-3" style="width: 20rem;">
<a href="{{path('app_product_detail',{'slug':product.slug})}}">
	<img src="/assets/uploads/products/{{product.image}}" class="card-img-top" alt="..." style="height:20rem;aspect-ratio:3/2;object-fit:contains">
</a>
	<div class="card-body">
		<span class="badge bg-danger">10%</span>

		<h5 class="card-title">
			<a href="{{path('app_product_detail',{'slug':product.slug})}}" class="text-dark text-decoration-none">{{product.name}}</a>
		</h5>
        <p class="card-text"><i class="bi bi-star text-warning" style="font-size:15px;"></i>{{product.reviewsProducts|length}}</p>
		<p class="card-text text-center d-flex justify-content-evenly">
			<span class='fw-bold text-decoration-line-through d-inline'>
				{{(product.price/100)|round(2, 'floor')}}
				€</span>
			<span class='fw-bold text-info d-inline'>
				{{(product.price/100*0.9)|round(2, 'floor')}}
				€</span>
		</p>
		<div class="d-grid gap-2 d-md-flex justify-content-md-end">
			{% if product.quantity > 0 %}
            <a href="{{path('app_cart_add',{'id':product.id})}}" class="btn btn-outline-primary"><i class="bi bi-bag-plus"></i></a>
			{% else %}
			<p>
				<span class="badge bg-danger">En rupture de stock</span>
			</p>
			{% endif %}
            <a href="{{path('app_product_detail',{'slug':product.slug})}}" class="btn btn-outline-info"><i class="bi bi-eye"></i></i></a>
            <a href="" class="btn btn-outline-secondary"><i class="bi bi-heart"></i></a>

		</div>
	</div>
</div>

