{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="d-flex gap-3 col-8 mx-auto justify-content-evenly">
	<button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
	<a href="{{ path('app_account') }}" class="btn btn-danger">Annuler</a>
</div>
{{ form_end(form) }}
